In [1]:
import pandas as pd
import pickle

In [2]:
# Generate a new DataFrame for participant_id 'P01' and video_id 'P01_01'
participant_id = 'P01'
video_id = 'P01_01'
sampling_rate = 24000  # Audio sampled at 24 kHz

# Duration of each window in seconds and hop length
window_duration = 2.0  # seconds
hop_length = 1.0       # seconds
total_duration = 1620.0 # seconds

In [3]:
# Calculate the number of annotations to create
num_annotations = int((total_duration - window_duration) / hop_length) + 1

# Generate data
new_data = []
for i in range(num_annotations):
    start_time = i * hop_length
    stop_time = start_time + window_duration
    annotation_id = f'{video_id}_{i}'
    
    start_sample = int(start_time * sampling_rate)
    stop_sample = int(stop_time * sampling_rate)

    start_timestamp_str = f"{int(start_time // 3600):02}:{int((start_time % 3600) // 60):02}:{start_time % 60:06.3f}"
    stop_timestamp_str = f"{int(stop_time // 3600):02}:{int((stop_time % 3600) // 60):02}:{stop_time % 60:06.3f}"
    
    new_data.append({
        'annotation_id': annotation_id,
        'participant_id': participant_id,
        'video_id': video_id,
        'start_timestamp': start_timestamp_str,
        'stop_timestamp': stop_timestamp_str,
        'start_sample': start_sample,
        'stop_sample': stop_sample
    })

# Create DataFrame
new_annotations_df = pd.DataFrame(new_data)

new_annotations_df.head()

,annotation_id,participant_id,video_id,start_timestamp,stop_timestamp,start_sample,stop_sample
0,P01_01_0,P01,P01_01,00:00:00.000,00:00:02.000,0,48000
1,P01_01_1,P01,P01_01,00:00:01.000,00:00:03.000,24000,72000
2,P01_01_2,P01,P01_01,00:00:02.000,00:00:04.000,48000,96000
3,P01_01_3,P01,P01_01,00:00:03.000,00:00:05.000,72000,120000
4,P01_01_4,P01,P01_01,00:00:04.000,00:00:06.000,96000,144000

In [4]:
new_annotations_file = f'/vision/asomaya1/epic-sounds-annotations/EPIC_Sounds_recognition_{video_id}_test_timestamps.pkl'
new_annotations_df.to_pickle(new_annotations_file)

In [5]:
old_annotations_file = '/vision/asomaya1/epic-sounds-annotations/EPIC_Sounds_recognition_test_timestamps.pkl'

In [6]:
pd.read_pickle(old_annotations_file)

,annotation_id,participant_id,video_id,start_timestamp,stop_timestamp,start_sample,stop_sample
0,P02_106_0,P02,P02_106,00:00:03.855,00:00:04.142,92520,99408
1,P02_106_1,P02,P02_106,00:00:05.992,00:00:06.842,143808,164208
2,P02_106_2,P02,P02_106,00:00:07.105,00:00:07.405,170520,177720
3,P02_106_3,P02,P02_106,00:00:07.667,00:00:11.330,184008,271920
4,P02_106_4,P02,P02_106,00:00:12.850,00:00:13.778,308400,330672
...,...,...,...,...,...,...,...
5126,P34_113_207,P34,P34_113,00:12:08.621,00:12:11.079,17486904,17545896
5127,P34_113_208,P34,P34_113,00:12:11.287,00:12:11.641,17550888,17559384
5128,P34_113_209,P34,P34_113,00:12:12.287,00:12:13.287,17574888,17598888
5129,P34_113_210,P34,P34_113,00:12:17.350,00:12:17.600,17696400,17702400
5130,P34_113_211,P34,P34_113,00:12:23.579,00:12:27.204,17845896,17932896

In [7]:
pd.read_pickle(new_annotations_file)

,annotation_id,participant_id,video_id,start_timestamp,stop_timestamp,start_sample,stop_sample
0,P01_01_0,P01,P01_01,00:00:00.000,00:00:02.000,0,48000
1,P01_01_1,P01,P01_01,00:00:01.000,00:00:03.000,24000,72000
2,P01_01_2,P01,P01_01,00:00:02.000,00:00:04.000,48000,96000
3,P01_01_3,P01,P01_01,00:00:03.000,00:00:05.000,72000,120000
4,P01_01_4,P01,P01_01,00:00:04.000,00:00:06.000,96000,144000
...,...,...,...,...,...,...,...
1614,P01_01_1614,P01,P01_01,00:26:54.000,00:26:56.000,38736000,38784000
1615,P01_01_1615,P01,P01_01,00:26:55.000,00:26:57.000,38760000,38808000
1616,P01_01_1616,P01,P01_01,00:26:56.000,00:26:58.000,38784000,38832000
1617,P01_01_1617,P01,P01_01,00:26:57.000,00:26:59.000,38808000,38856000
1618,P01_01_1618,P01,P01_01,00:26:58.000,00:27:00.000,38832000,38880000