In [1]:
import pandas as pd
import pickle

In [2]:
"""
This script is used to generate an evaluation file with time intervals for sound event prediction on a single EPIC-KITCHENS-100 video.
"""

'\nThis script is used to generate an evaluation file with time intervals for sound event prediction on a single EPIC-KITCHENS-100 video.'

In [3]:
# Generate a new DataFrame for participant_id 'P01' and video_id 'P01_01'
participant_id = 'P01'
video_num = '01'
video_id = f'{participant_id}_{video_num}'
sampling_rate = 24000  # Audio sampled at 24 kHz

# Duration of each window in seconds and hop length
window_duration = 2.0  # seconds
hop_length = 0.2       # seconds
total_duration = 1620.0 # seconds #TODO: This should be loaded in from video length of video_id.mp4

if window_duration == 1.0:
    tim_formatted = True
else:
    tim_formatted = False

In [4]:
# Calculate the number of annotations to create
num_annotations = int((total_duration - window_duration) / hop_length) + 1

# Generate data
new_data = []
for i in range(num_annotations):
    start_time = i * hop_length
    stop_time = start_time + window_duration
    annotation_id = f'{video_id}_{i}'
    
    start_sample = int(start_time * sampling_rate)
    stop_sample = int(stop_time * sampling_rate)

    start_timestamp_str = f"{int(start_time // 3600):02}:{int((start_time % 3600) // 60):02}:{start_time % 60:06.3f}"
    stop_timestamp_str = f"{int(stop_time // 3600):02}:{int((stop_time % 3600) // 60):02}:{stop_time % 60:06.3f}"
    
    new_data.append({
        'annotation_id': annotation_id,
        'participant_id': participant_id,
        'video_id': video_id,
        'start_timestamp': start_timestamp_str,
        'stop_timestamp': stop_timestamp_str,
        'start_sample': start_sample,
        'stop_sample': stop_sample
    })

# Create DataFrame
new_annotations_df = pd.DataFrame(new_data)

new_annotations_df.head()

,annotation_id,participant_id,video_id,start_timestamp,stop_timestamp,start_sample,stop_sample
0,P01_01_0,P01,P01_01,00:00:00.000,00:00:02.000,0,48000
1,P01_01_1,P01,P01_01,00:00:00.200,00:00:02.200,4800,52800
2,P01_01_2,P01,P01_01,00:00:00.400,00:00:02.400,9600,57600
3,P01_01_3,P01,P01_01,00:00:00.600,00:00:02.600,14400,62400
4,P01_01_4,P01,P01_01,00:00:00.800,00:00:02.800,19200,67200

In [5]:
new_annotations_df

,annotation_id,participant_id,video_id,start_timestamp,stop_timestamp,start_sample,stop_sample
0,P01_01_0,P01,P01_01,00:00:00.000,00:00:02.000,0,48000
1,P01_01_1,P01,P01_01,00:00:00.200,00:00:02.200,4800,52800
2,P01_01_2,P01,P01_01,00:00:00.400,00:00:02.400,9600,57600
3,P01_01_3,P01,P01_01,00:00:00.600,00:00:02.600,14400,62400
4,P01_01_4,P01,P01_01,00:00:00.800,00:00:02.800,19200,67200
...,...,...,...,...,...,...,...
8086,P01_01_8086,P01,P01_01,00:26:57.200,00:26:59.200,38812800,38860800
8087,P01_01_8087,P01,P01_01,00:26:57.400,00:26:59.400,38817600,38865600
8088,P01_01_8088,P01,P01_01,00:26:57.600,00:26:59.600,38822400,38870400
8089,P01_01_8089,P01,P01_01,00:26:57.800,00:26:59.800,38827200,38875200
8090,P01_01_8090,P01,P01_01,00:26:58.000,00:27:00.000,38832000,38880000

In [6]:
import os

# Specify the directory path
directory = '/private/home/arjunrs1/epic-sounds-annotations/per-video-annotations'
# Create the directory if it doesn't exist
if not os.path.exists(directory):
    os.makedirs(directory)

# Specify the file path
new_annotations_file = f'{directory}/EPIC_Sounds_recognition_{video_id}_win={window_duration}_hop={hop_length}_test_timestamps.pkl'
if tim_formatted:
    new_annotations_file = f'{directory}/EPIC_Sounds_recognition_{video_id}_win={window_duration}_hop={hop_length}_test_timestamps_tim_formatted.pkl'

# Save the DataFrame to the file path
new_annotations_df.to_pickle(new_annotations_file)

In [7]:
old_annotations_file = '~/epic-sounds-annotations/EPIC_Sounds_recognition_test_timestamps.pkl'

In [8]:
pd.read_pickle(old_annotations_file)

,annotation_id,participant_id,video_id,start_timestamp,stop_timestamp,start_sample,stop_sample
0,P02_106_0,P02,P02_106,00:00:03.855,00:00:04.142,92520,99408
1,P02_106_1,P02,P02_106,00:00:05.992,00:00:06.842,143808,164208
2,P02_106_2,P02,P02_106,00:00:07.105,00:00:07.405,170520,177720
3,P02_106_3,P02,P02_106,00:00:07.667,00:00:11.330,184008,271920
4,P02_106_4,P02,P02_106,00:00:12.850,00:00:13.778,308400,330672
...,...,...,...,...,...,...,...
5126,P34_113_207,P34,P34_113,00:12:08.621,00:12:11.079,17486904,17545896
5127,P34_113_208,P34,P34_113,00:12:11.287,00:12:11.641,17550888,17559384
5128,P34_113_209,P34,P34_113,00:12:12.287,00:12:13.287,17574888,17598888
5129,P34_113_210,P34,P34_113,00:12:17.350,00:12:17.600,17696400,17702400
5130,P34_113_211,P34,P34_113,00:12:23.579,00:12:27.204,17845896,17932896

In [9]:
pd.read_pickle(new_annotations_file)

,annotation_id,participant_id,video_id,start_timestamp,stop_timestamp,start_sample,stop_sample
0,P01_01_0,P01,P01_01,00:00:00.000,00:00:02.000,0,48000
1,P01_01_1,P01,P01_01,00:00:00.200,00:00:02.200,4800,52800
2,P01_01_2,P01,P01_01,00:00:00.400,00:00:02.400,9600,57600
3,P01_01_3,P01,P01_01,00:00:00.600,00:00:02.600,14400,62400
4,P01_01_4,P01,P01_01,00:00:00.800,00:00:02.800,19200,67200
...,...,...,...,...,...,...,...
8086,P01_01_8086,P01,P01_01,00:26:57.200,00:26:59.200,38812800,38860800
8087,P01_01_8087,P01,P01_01,00:26:57.400,00:26:59.400,38817600,38865600
8088,P01_01_8088,P01,P01_01,00:26:57.600,00:26:59.600,38822400,38870400
8089,P01_01_8089,P01,P01_01,00:26:57.800,00:26:59.800,38827200,38875200
8090,P01_01_8090,P01,P01_01,00:26:58.000,00:27:00.000,38832000,38880000